<!doctype html>
<html>
    <head>
        <title>Lights</title>
        <link rel="icon" type="image/png" href="https://i.ibb.co/ZcwR45G/favicon.png"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('lights') }}">Lights</a>
            <a href="{{ url_for('shell') }}">shell</a>
        </div>
        <h1>Lights</h1>
        <form method="POST" action="lights">
            <label for="lightswitch">Light Switch: </label>
            <select name="lightswitch" id="lightswitch">
                {% for light in lights %}
                <option value="{{ light }}">{{ light }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Toggle Switch">
        </form>
        <br>
        <p><a href="{{ url_for('home') }}">Return to Dashboard</a></p>
        <p>Currently logged in as {{ user }}</p>
        <a href="{{ url_for('logout') }}">logout</a>
    </body>
</html>